.wrapper-1XTKlU {
    background-size: cover;
    min-height: 100vh;
    overflow: hidden
}

.flexWrapper-1ztpWj {
    height: 100vh
}

.image-2GuWXL {
    background-size: 100% 100%;
    height: 154px;
    margin-bottom: 40px;
    width: 254px
}

.text-iOJAKO {
    margin-bottom: 20px;
    width: 440px
}

.text-iOJAKO h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    text-transform: uppercase
}

.text-iOJAKO .note-3vX6oT,.text-iOJAKO h4 {
    line-height: 8px;
    text-align: center
}

.text-iOJAKO .note-3vX6oT {
    font-size: 16px
}

.themeLight-ljSI-8 {
    background-image: url(/assets/da840b1a6c5d073ca1c6710f8967502a.svg);
    background-position: 50% 0;
    color: #4f545c
}

.themeLight-ljSI-8 .image-2GuWXL {
    background-image: url(/assets/9c3d15a94528df326eb741af39b9f0a9.svg)
}

.themeLight-ljSI-8 .note-3vX6oT {
    color: #72767d
}

.themeDark-20sYEW {
    background-color: #2f3136;
    background-image: url(/assets/da840b1a6c5d073ca1c6710f8967502a.svg);
    color: #f6f6f7
}

.themeDark-20sYEW .image-2GuWXL {
    background-image: url(/assets/e9baf4b505eb54129f832556ea16538e.svg)
}

.themeDark-20sYEW .note-3vX6oT {
    color: #b9bbbe
}

.flex-3B1Tl4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.alignStart-pnSyE6 {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start
}

.alignEnd-3PVyen {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end
}

.alignCenter-3VxkQP {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}

.alignStretch-1hwxMa {
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch
}

.alignBaseline-4enZzv {
    -ms-flex-align: baseline;
    -webkit-box-align: baseline;
    align-items: baseline
}

.justifyStart-2yIZo0 {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start
}

.justifyEnd-1ceqOU {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end
}

.justifyCenter-29N31w {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center
}

.justifyAround-1CVbTI {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.justifyBetween-1d1Hto {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.noWrap-v6g9vO {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.wrap-1da0e3 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.wrapReverse-1aj0nh {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.directionRow-yNbSvJ {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row
}

.directionRowReverse-2eZTxP {
    -ms-flex-direction: row-reverse;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    flex-direction: row-reverse
}

.directionColumn-2h-LPR {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column
}

.spacer-2Aeq3k {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden
}

.vertical-3X17r5 {
}

.horizontal-2VE-Fw {
}

.horizontalReverse-k5PqxT {
}

.horizontal-2VE-Fw>.spacer-2Aeq3k,.horizontalReverse-k5PqxT>.spacer-2Aeq3k,.vertical-3X17r5>.spacer-2Aeq3k {
    min-height: 1px
}

.flexCenter-28Hs0n {
}

.flex-lFgbSz {
}

.horizontal-2BEEBe {
}

.horizontalReverse-2LanvO {
}

.horizontal-2BEEBe>.flex-lFgbSz,.horizontal-2BEEBe>.flexChild-1KGW5q {
    margin-left: 10px;
    margin-right: 10px
}

.horizontal-2BEEBe>.flex-lFgbSz:first-child,.horizontal-2BEEBe>.flexChild-1KGW5q:first-child {
    margin-left: 0
}

.horizontal-2BEEBe>.flex-lFgbSz:last-child,.horizontal-2BEEBe>.flexChild-1KGW5q:last-child {
    margin-right: 0
}

.horizontalReverse-2LanvO>.flex-lFgbSz,.horizontalReverse-2LanvO>.flexChild-1KGW5q {
    margin-left: 10px;
    margin-right: 10px
}

.horizontalReverse-2LanvO>.flex-lFgbSz:first-child,.horizontalReverse-2LanvO>.flexChild-1KGW5q:first-child {
    margin-right: 0
}

.horizontalReverse-2LanvO>.flex-lFgbSz:last-child,.horizontalReverse-2LanvO>.flexChild-1KGW5q:last-child {
    margin-left: 0
}

.horizontal-2BEEBe>.flexMarginReset-1ihQnl {
    margin: 0
}

@-webkit-keyframes spinner-wandering-cubes-1AK53J {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(.5);
        transform: translateX(22px) rotate(-90deg) scale(.5)
    }

    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(.5)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes spinner-wandering-cubes-1AK53J {
    25% {
        -webkit-transform: translateX(22px) rotate(-90deg) scale(.5);
        transform: translateX(22px) rotate(-90deg) scale(.5)
    }

    50% {
        -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
        transform: translateX(22px) translateY(22px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(.5);
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(.5)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@-webkit-keyframes spinner-chasing-dots-rotate-3Fvw4X {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner-chasing-dots-rotate-3Fvw4X {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes spinner-chasing-dots-bounce-GCoXlp {
    0%,to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes spinner-chasing-dots-bounce-GCoXlp {
    0%,to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes spinner-pulsing-ellipsis-2q8oVr {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.8);
        opacity: .3;
        transform: scale(.8)
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes spinner-pulsing-ellipsis-2q8oVr {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(.8);
        opacity: .3;
        transform: scale(.8)
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1)
    }
}

@-webkit-keyframes spinner-spinning-circle-rotate-31ddRE {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner-spinning-circle-rotate-31ddRE {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes spinner-spinning-circle-dash-2Trd0K {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 130,200
    }

    to {
        stroke-dasharray: 130,200;
        stroke-dashoffset: -124
    }
}

@keyframes spinner-spinning-circle-dash-2Trd0K {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 130,200
    }

    to {
        stroke-dasharray: 130,200;
        stroke-dashoffset: -124
    }
}

.spinner-2szMS3 {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center
}

.inner-3X2_kk {
    display: inline-block;
    height: 32px;
    position: relative;
    width: 32px
}

.wanderingCubesItem-35kyMu {
    -webkit-animation: spinner-wandering-cubes-1AK53J 1.8s infinite ease-in-out;
    animation: spinner-wandering-cubes-1AK53J 1.8s infinite ease-in-out;
    background-color: #7289da;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px
}

.wanderingCubesItem-35kyMu:last-child {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.chasingDots-2qWgu6 {
    -webkit-animation: spinner-chasing-dots-rotate-3Fvw4X 2s infinite linear;
    animation: spinner-chasing-dots-rotate-3Fvw4X 2s infinite linear
}

.chasingDotsItem-1fMB4T {
    -webkit-animation: spinner-chasing-dots-bounce-GCoXlp 2s infinite ease-in-out;
    animation: spinner-chasing-dots-bounce-GCoXlp 2s infinite ease-in-out;
    background-color: #7289da;
    border-radius: 100%;
    display: inline-block;
    height: 60%;
    position: absolute;
    top: 0;
    width: 60%
}

.chasingDotsItem-1fMB4T:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    bottom: 0;
    top: auto
}

.pulsingEllipsis-36SsC3 {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    justify-content: center;
    position: relative;
    width: 28px
}

.pulsingEllipsisItem-1oPdBE {
    -webkit-animation: spinner-pulsing-ellipsis-2q8oVr 1.4s infinite ease-in-out;
    animation: spinner-pulsing-ellipsis-2q8oVr 1.4s infinite ease-in-out;
    background-color: #f8f9f9;
    border-radius: 3px;
    display: inline-block;
    height: 6px;
    margin-right: 2px;
    opacity: .3;
    width: 6px
}

.pulsingEllipsisItem-1oPdBE:nth-of-type(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.pulsingEllipsisItem-1oPdBE:nth-of-type(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.stopAnimation-39pPJB .chasingDots-2qWgu6,.stopAnimation-39pPJB .chasingDotsItem-1fMB4T,.stopAnimation-39pPJB .circular-2U7_1N,.stopAnimation-39pPJB .path-2DIvxA,.stopAnimation-39pPJB .pulsingEllipsisItem-1oPdBE,.stopAnimation-39pPJB .wanderingCubesItem-35kyMu,.stop-animation .pulsingEllipsisItem-1oPdBE {
    -webkit-animation: none;
    animation: none
}

.spinningCircle-2mRBGy {
    width: 100%
}

.spinningCircleInner-2putKt {
    -webkit-transform: rotate(280deg);
    transform: rotate(280deg)
}

.circular-2U7_1N {
    -webkit-animation: spinner-spinning-circle-rotate-31ddRE 2s linear infinite;
    animation: spinner-spinning-circle-rotate-31ddRE 2s linear infinite;
    height: 100%;
    width: 100%
}

.path-2DIvxA {
    -webkit-animation: spinner-spinning-circle-dash-2Trd0K 2s ease-in-out infinite;
    animation: spinner-spinning-circle-dash-2Trd0K 2s ease-in-out infinite;
    fill: none;
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 6
}

.path2-3n_CYd {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

.path3-1Ti7dU {
    -webkit-animation-delay: .23s;
    animation-delay: .23s
}

.theme-light .path-2DIvxA {
    stroke: #7289da
}

.theme-light .path2-3n_CYd {
    opacity: .6;
    stroke: #c7d0f0
}

.theme-light .path3-1Ti7dU {
    opacity: .3;
    stroke: #f8f9fd
}

.theme-dark .path-2DIvxA {
    stroke: #7289da
}

.theme-dark .path2-3n_CYd {
    opacity: .6;
    stroke: #7289da
}

.theme-dark .path3-1Ti7dU {
    stroke: #222941
}

.button-2t3of8 {
    -moz-user-select: none;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-user-select: none;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    line-height: 16px;
    padding: 2px 16px;
    position: relative;
    user-select: none
}

.lookFilled-luDKDo.colorBrand-3PmwCE {
    background-color: #7289da;
    color: #fff
}

.lookFilled-luDKDo.colorBrand-3PmwCE:hover {
    background-color: #677bc4
}

.lookFilled-luDKDo.colorBrand-3PmwCE:active {
    background-color: #5b6eae
}

.lookFilled-luDKDo.colorBrand-3PmwCE .spinnerItem-2VtahD {
    background-color: #fff
}

.lookInverted-2lPGe7.colorBrand-3PmwCE {
    background-color: #fff;
    color: #7289da
}

.lookInverted-2lPGe7.colorBrand-3PmwCE:hover {
    background-color: #f8f9fd
}

.lookInverted-2lPGe7.colorBrand-3PmwCE:active {
    background-color: #e3e7f8
}

.lookInverted-2lPGe7.colorBrand-3PmwCE .spinnerItem-2VtahD {
    background-color: #7289da
}

.lookOutlined-1c5nhl.colorBrand-3PmwCE {
    border-color: rgba(114,137,218,.3);
    color: #7289da
}

.lookOutlined-1c5nhl.colorBrand-3PmwCE:hover {
    border-color: rgba(114,137,218,.6)
}

.lookOutlined-1c5nhl.colorBrand-3PmwCE:active {
    background-color: rgba(114,137,218,.1);
    border-color: #7289da
}

.lookOutlined-1c5nhl.colorBrand-3PmwCE .spinnerItem-2VtahD {
    background-color: #7289da
}

.lookGhost-GyT-k0.colorBrand-3PmwCE {
    background-color: rgba(114,137,218,.1);
    color: #7289da
}

.lookGhost-GyT-k0.colorBrand-3PmwCE:active {
    background-color: rgba(114,137,218,.15)
}

.lookGhost-GyT-k0.colorBrand-3PmwCE .spinnerItem-2VtahD {
    background-color: #7289da
}

.lookLink-3VWONr.colorBrand-3PmwCE {
    color: #7289da
}

.lookLink-3VWONr.colorBrand-3PmwCE:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#7289da 0,#7289da 2px,transparent 0)
}

.lookLink-3VWONr.colorBrand-3PmwCE .spinnerItem-2VtahD {
    background-color: #7289da
}

.theme-dark .lookFilled-luDKDo.hoverBrand-31w0Ap.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverBrand-31w0Ap.hasHover-FPgGm-:hover {
    background-color: #7289da;
    color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverBrand-31w0Ap.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverBrand-31w0Ap.hasHover-FPgGm-:active {
    background-color: #677bc4;
    color: #fff
}

.theme-dark .lookInverted-2lPGe7.hoverBrand-31w0Ap.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverBrand-31w0Ap.hasHover-FPgGm-:hover {
    background-color: #f8f9fd;
    color: #7289da
}

.theme-dark .lookInverted-2lPGe7.hoverBrand-31w0Ap.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverBrand-31w0Ap.hasHover-FPgGm-:active {
    background-color: #e3e7f8;
    color: #7289da
}

.theme-dark .lookOutlined-1c5nhl.hoverBrand-31w0Ap.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverBrand-31w0Ap.hasHover-FPgGm-:hover {
    border-color: rgba(114,137,218,.6);
    color: #7289da
}

.theme-dark .lookOutlined-1c5nhl.hoverBrand-31w0Ap.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverBrand-31w0Ap.hasHover-FPgGm-:active {
    background-color: rgba(114,137,218,.1);
    border-color: #7289da;
    color: #7289da
}

.theme-dark .lookGhost-GyT-k0.hoverBrand-31w0Ap.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverBrand-31w0Ap.hasHover-FPgGm-:active {
    background-color: rgba(114,137,218,.15);
    color: #7289da
}

.theme-dark .lookLink-3VWONr.hoverBrand-31w0Ap.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverBrand-31w0Ap.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#7289da 0,#7289da 2px,transparent 0);
    color: #7289da
}

.lookFilled-luDKDo.colorGrey-4JijJ1 {
    background-color: #747f8d;
    color: #fff
}

.lookFilled-luDKDo.colorGrey-4JijJ1:hover {
    background-color: #68727f
}

.lookFilled-luDKDo.colorGrey-4JijJ1:active {
    background-color: #5d6671
}

.lookFilled-luDKDo.colorGrey-4JijJ1 .spinnerItem-2VtahD {
    background-color: #fff
}

.lookInverted-2lPGe7.colorGrey-4JijJ1 {
    background-color: #fff;
    color: #747f8d
}

.lookInverted-2lPGe7.colorGrey-4JijJ1:hover {
    background-color: #f8f9f9
}

.lookInverted-2lPGe7.colorGrey-4JijJ1:active {
    background-color: #e3e5e8
}

.lookInverted-2lPGe7.colorGrey-4JijJ1 .spinnerItem-2VtahD {
    background-color: #747f8d
}

.lookOutlined-1c5nhl.colorGrey-4JijJ1 {
    border-color: rgba(116,127,141,.3);
    color: #747f8d
}

.lookOutlined-1c5nhl.colorGrey-4JijJ1:hover {
    border-color: rgba(116,127,141,.6)
}

.lookOutlined-1c5nhl.colorGrey-4JijJ1:active {
    background-color: rgba(116,127,141,.1);
    border-color: #747f8d
}

.lookOutlined-1c5nhl.colorGrey-4JijJ1 .spinnerItem-2VtahD {
    background-color: #747f8d
}

.lookGhost-GyT-k0.colorGrey-4JijJ1 {
    background-color: rgba(116,127,141,.1);
    color: #747f8d
}

.lookGhost-GyT-k0.colorGrey-4JijJ1:active {
    background-color: rgba(116,127,141,.15)
}

.lookGhost-GyT-k0.colorGrey-4JijJ1 .spinnerItem-2VtahD {
    background-color: #747f8d
}

.lookLink-3VWONr.colorGrey-4JijJ1 {
    color: #747f8d
}

.lookLink-3VWONr.colorGrey-4JijJ1:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#747f8d 0,#747f8d 2px,transparent 0)
}

.lookLink-3VWONr.colorGrey-4JijJ1 .spinnerItem-2VtahD {
    background-color: #747f8d
}

.theme-dark .lookFilled-luDKDo.hoverGrey-13LYbu.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverGrey-13LYbu.hasHover-FPgGm-:hover {
    background-color: #747f8d;
    color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverGrey-13LYbu.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverGrey-13LYbu.hasHover-FPgGm-:active {
    background-color: #68727f;
    color: #fff
}

.theme-dark .lookInverted-2lPGe7.hoverGrey-13LYbu.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverGrey-13LYbu.hasHover-FPgGm-:hover {
    background-color: #f8f9f9;
    color: #747f8d
}

.theme-dark .lookInverted-2lPGe7.hoverGrey-13LYbu.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverGrey-13LYbu.hasHover-FPgGm-:active {
    background-color: #e3e5e8;
    color: #747f8d
}

.theme-dark .lookOutlined-1c5nhl.hoverGrey-13LYbu.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverGrey-13LYbu.hasHover-FPgGm-:hover {
    border-color: rgba(116,127,141,.6);
    color: #747f8d
}

.theme-dark .lookOutlined-1c5nhl.hoverGrey-13LYbu.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverGrey-13LYbu.hasHover-FPgGm-:active {
    background-color: rgba(116,127,141,.1);
    border-color: #747f8d;
    color: #747f8d
}

.theme-dark .lookGhost-GyT-k0.hoverGrey-13LYbu.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverGrey-13LYbu.hasHover-FPgGm-:active {
    background-color: rgba(116,127,141,.15);
    color: #747f8d
}

.theme-dark .lookLink-3VWONr.hoverGrey-13LYbu.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverGrey-13LYbu.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#747f8d 0,#747f8d 2px,transparent 0);
    color: #747f8d
}

.lookFilled-luDKDo.colorRed-3HTNPV {
    background-color: #f04747;
    color: #fff
}

.lookFilled-luDKDo.colorRed-3HTNPV:hover {
    background-color: #d84040
}

.lookFilled-luDKDo.colorRed-3HTNPV:active {
    background-color: #c03939
}

.lookFilled-luDKDo.colorRed-3HTNPV .spinnerItem-2VtahD {
    background-color: #fff
}

.lookInverted-2lPGe7.colorRed-3HTNPV {
    background-color: #fff;
    color: #f04747
}

.lookInverted-2lPGe7.colorRed-3HTNPV:hover {
    background-color: #fef6f6
}

.lookInverted-2lPGe7.colorRed-3HTNPV:active {
    background-color: #fcdada
}

.lookInverted-2lPGe7.colorRed-3HTNPV .spinnerItem-2VtahD {
    background-color: #f04747
}

.lookOutlined-1c5nhl.colorRed-3HTNPV {
    border-color: rgba(240,71,71,.3);
    color: #f04747
}

.lookOutlined-1c5nhl.colorRed-3HTNPV:hover {
    border-color: rgba(240,71,71,.6)
}

.lookOutlined-1c5nhl.colorRed-3HTNPV:active {
    background-color: rgba(240,71,71,.1);
    border-color: #f04747
}

.lookOutlined-1c5nhl.colorRed-3HTNPV .spinnerItem-2VtahD {
    background-color: #f04747
}

.lookGhost-GyT-k0.colorRed-3HTNPV {
    background-color: rgba(240,71,71,.1);
    color: #f04747
}

.lookGhost-GyT-k0.colorRed-3HTNPV:active {
    background-color: rgba(240,71,71,.15)
}

.lookGhost-GyT-k0.colorRed-3HTNPV .spinnerItem-2VtahD {
    background-color: #f04747
}

.lookLink-3VWONr.colorRed-3HTNPV {
    color: #f04747
}

.lookLink-3VWONr.colorRed-3HTNPV:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#f04747 0,#f04747 2px,transparent 0)
}

.lookLink-3VWONr.colorRed-3HTNPV .spinnerItem-2VtahD {
    background-color: #f04747
}

.theme-dark .lookFilled-luDKDo.hoverRed-27pw7S.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverRed-27pw7S.hasHover-FPgGm-:hover {
    background-color: #f04747;
    color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverRed-27pw7S.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverRed-27pw7S.hasHover-FPgGm-:active {
    background-color: #d84040;
    color: #fff
}

.theme-dark .lookInverted-2lPGe7.hoverRed-27pw7S.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverRed-27pw7S.hasHover-FPgGm-:hover {
    background-color: #fef6f6;
    color: #f04747
}

.theme-dark .lookInverted-2lPGe7.hoverRed-27pw7S.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverRed-27pw7S.hasHover-FPgGm-:active {
    background-color: #fcdada;
    color: #f04747
}

.theme-dark .lookOutlined-1c5nhl.hoverRed-27pw7S.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverRed-27pw7S.hasHover-FPgGm-:hover {
    border-color: rgba(240,71,71,.6);
    color: #f04747
}

.theme-dark .lookOutlined-1c5nhl.hoverRed-27pw7S.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverRed-27pw7S.hasHover-FPgGm-:active {
    background-color: rgba(240,71,71,.1);
    border-color: #f04747;
    color: #f04747
}

.theme-dark .lookGhost-GyT-k0.hoverRed-27pw7S.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverRed-27pw7S.hasHover-FPgGm-:active {
    background-color: rgba(240,71,71,.15);
    color: #f04747
}

.theme-dark .lookLink-3VWONr.hoverRed-27pw7S.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverRed-27pw7S.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#f04747 0,#f04747 2px,transparent 0);
    color: #f04747
}

.lookFilled-luDKDo.colorGreen-22At8E {
    background-color: #43b581;
    color: #fff
}

.lookFilled-luDKDo.colorGreen-22At8E:hover {
    background-color: #3ca374
}

.lookFilled-luDKDo.colorGreen-22At8E:active {
    background-color: #369167
}

.lookFilled-luDKDo.colorGreen-22At8E .spinnerItem-2VtahD {
    background-color: #fff
}

.lookInverted-2lPGe7.colorGreen-22At8E {
    background-color: #fff;
    color: #43b581
}

.lookInverted-2lPGe7.colorGreen-22At8E:hover {
    background-color: #f6fbf9
}

.lookInverted-2lPGe7.colorGreen-22At8E:active {
    background-color: #d9f0e6
}

.lookInverted-2lPGe7.colorGreen-22At8E .spinnerItem-2VtahD {
    background-color: #43b581
}

.lookOutlined-1c5nhl.colorGreen-22At8E {
    border-color: rgba(67,181,129,.3);
    color: #43b581
}

.lookOutlined-1c5nhl.colorGreen-22At8E:hover {
    border-color: rgba(67,181,129,.6)
}

.lookOutlined-1c5nhl.colorGreen-22At8E:active {
    background-color: rgba(67,181,129,.1);
    border-color: #43b581
}

.lookOutlined-1c5nhl.colorGreen-22At8E .spinnerItem-2VtahD {
    background-color: #43b581
}

.lookGhost-GyT-k0.colorGreen-22At8E {
    background-color: rgba(67,181,129,.1);
    color: #43b581
}

.lookGhost-GyT-k0.colorGreen-22At8E:active {
    background-color: rgba(67,181,129,.15)
}

.lookGhost-GyT-k0.colorGreen-22At8E .spinnerItem-2VtahD {
    background-color: #43b581
}

.lookLink-3VWONr.colorGreen-22At8E {
    color: #43b581
}

.lookLink-3VWONr.colorGreen-22At8E:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#43b581 0,#43b581 2px,transparent 0)
}

.lookLink-3VWONr.colorGreen-22At8E .spinnerItem-2VtahD {
    background-color: #43b581
}

.theme-dark .lookFilled-luDKDo.hoverGreen-1Uak9k.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverGreen-1Uak9k.hasHover-FPgGm-:hover {
    background-color: #43b581;
    color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverGreen-1Uak9k.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverGreen-1Uak9k.hasHover-FPgGm-:active {
    background-color: #3ca374;
    color: #fff
}

.theme-dark .lookInverted-2lPGe7.hoverGreen-1Uak9k.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverGreen-1Uak9k.hasHover-FPgGm-:hover {
    background-color: #f6fbf9;
    color: #43b581
}

.theme-dark .lookInverted-2lPGe7.hoverGreen-1Uak9k.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverGreen-1Uak9k.hasHover-FPgGm-:active {
    background-color: #d9f0e6;
    color: #43b581
}

.theme-dark .lookOutlined-1c5nhl.hoverGreen-1Uak9k.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverGreen-1Uak9k.hasHover-FPgGm-:hover {
    border-color: rgba(67,181,129,.6);
    color: #43b581
}

.theme-dark .lookOutlined-1c5nhl.hoverGreen-1Uak9k.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverGreen-1Uak9k.hasHover-FPgGm-:active {
    background-color: rgba(67,181,129,.1);
    border-color: #43b581;
    color: #43b581
}

.theme-dark .lookGhost-GyT-k0.hoverGreen-1Uak9k.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverGreen-1Uak9k.hasHover-FPgGm-:active {
    background-color: rgba(67,181,129,.15);
    color: #43b581
}

.theme-dark .lookLink-3VWONr.hoverGreen-1Uak9k.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverGreen-1Uak9k.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#43b581 0,#43b581 2px,transparent 0);
    color: #43b581
}

.lookFilled-luDKDo.colorYellow-QEc3IE {
    background-color: #faa61a;
    color: #fff
}

.lookFilled-luDKDo.colorYellow-QEc3IE:hover {
    background-color: #e19517
}

.lookFilled-luDKDo.colorYellow-QEc3IE:active {
    background-color: #c88515
}

.lookFilled-luDKDo.colorYellow-QEc3IE .spinnerItem-2VtahD {
    background-color: #fff
}

.lookInverted-2lPGe7.colorYellow-QEc3IE {
    background-color: #fff;
    color: #faa61a
}

.lookInverted-2lPGe7.colorYellow-QEc3IE:hover {
    background-color: #fffbf4
}

.lookInverted-2lPGe7.colorYellow-QEc3IE:active {
    background-color: #feedd1
}

.lookInverted-2lPGe7.colorYellow-QEc3IE .spinnerItem-2VtahD {
    background-color: #faa61a
}

.lookOutlined-1c5nhl.colorYellow-QEc3IE {
    border-color: rgba(250,166,26,.3);
    color: #faa61a
}

.lookOutlined-1c5nhl.colorYellow-QEc3IE:hover {
    border-color: rgba(250,166,26,.6)
}

.lookOutlined-1c5nhl.colorYellow-QEc3IE:active {
    background-color: rgba(250,166,26,.1);
    border-color: #faa61a
}

.lookOutlined-1c5nhl.colorYellow-QEc3IE .spinnerItem-2VtahD {
    background-color: #faa61a
}

.lookGhost-GyT-k0.colorYellow-QEc3IE {
    background-color: rgba(250,166,26,.1);
    color: #faa61a
}

.lookGhost-GyT-k0.colorYellow-QEc3IE:active {
    background-color: rgba(250,166,26,.15)
}

.lookGhost-GyT-k0.colorYellow-QEc3IE .spinnerItem-2VtahD {
    background-color: #faa61a
}

.lookLink-3VWONr.colorYellow-QEc3IE {
    color: #faa61a
}

.lookLink-3VWONr.colorYellow-QEc3IE:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#faa61a 0,#faa61a 2px,transparent 0)
}

.lookLink-3VWONr.colorYellow-QEc3IE .spinnerItem-2VtahD {
    background-color: #faa61a
}

.theme-dark .lookFilled-luDKDo.hoverYellow-37kQIv.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverYellow-37kQIv.hasHover-FPgGm-:hover {
    background-color: #faa61a;
    color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverYellow-37kQIv.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverYellow-37kQIv.hasHover-FPgGm-:active {
    background-color: #e19517;
    color: #fff
}

.theme-dark .lookInverted-2lPGe7.hoverYellow-37kQIv.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverYellow-37kQIv.hasHover-FPgGm-:hover {
    background-color: #fffbf4;
    color: #faa61a
}

.theme-dark .lookInverted-2lPGe7.hoverYellow-37kQIv.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverYellow-37kQIv.hasHover-FPgGm-:active {
    background-color: #feedd1;
    color: #faa61a
}

.theme-dark .lookOutlined-1c5nhl.hoverYellow-37kQIv.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverYellow-37kQIv.hasHover-FPgGm-:hover {
    border-color: rgba(250,166,26,.6);
    color: #faa61a
}

.theme-dark .lookOutlined-1c5nhl.hoverYellow-37kQIv.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverYellow-37kQIv.hasHover-FPgGm-:active {
    background-color: rgba(250,166,26,.1);
    border-color: #faa61a;
    color: #faa61a
}

.theme-dark .lookGhost-GyT-k0.hoverYellow-37kQIv.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverYellow-37kQIv.hasHover-FPgGm-:active {
    background-color: rgba(250,166,26,.15);
    color: #faa61a
}

.theme-dark .lookLink-3VWONr.hoverYellow-37kQIv.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverYellow-37kQIv.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#faa61a 0,#faa61a 2px,transparent 0);
    color: #faa61a
}

.lookFilled-luDKDo.colorLink-Ttelix {
    background-color: #00b0f4;
    color: #fff
}

.lookFilled-luDKDo.colorLink-Ttelix:hover {
    background-color: #009edc
}

.lookFilled-luDKDo.colorLink-Ttelix:active {
    background-color: #008dc3
}

.lookFilled-luDKDo.colorLink-Ttelix .spinnerItem-2VtahD {
    background-color: #fff
}

.lookInverted-2lPGe7.colorLink-Ttelix {
    background-color: #fff;
    color: #00b0f4
}

.lookInverted-2lPGe7.colorLink-Ttelix:hover {
    background-color: #f2fbfe
}

.lookInverted-2lPGe7.colorLink-Ttelix:active {
    background-color: #cceffd
}

.lookInverted-2lPGe7.colorLink-Ttelix .spinnerItem-2VtahD {
    background-color: #00b0f4
}

.lookOutlined-1c5nhl.colorLink-Ttelix {
    border-color: rgba(0,176,244,.3);
    color: #00b0f4
}

.lookOutlined-1c5nhl.colorLink-Ttelix:hover {
    border-color: rgba(0,176,244,.6)
}

.lookOutlined-1c5nhl.colorLink-Ttelix:active {
    background-color: rgba(0,176,244,.1);
    border-color: #00b0f4
}

.lookOutlined-1c5nhl.colorLink-Ttelix .spinnerItem-2VtahD {
    background-color: #00b0f4
}

.lookGhost-GyT-k0.colorLink-Ttelix {
    background-color: rgba(0,176,244,.1);
    color: #00b0f4
}

.lookGhost-GyT-k0.colorLink-Ttelix:active {
    background-color: rgba(0,176,244,.15)
}

.lookGhost-GyT-k0.colorLink-Ttelix .spinnerItem-2VtahD {
    background-color: #00b0f4
}

.lookLink-3VWONr.colorLink-Ttelix {
    color: #00b0f4
}

.lookLink-3VWONr.colorLink-Ttelix:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#00b0f4 0,#00b0f4 2px,transparent 0)
}

.lookLink-3VWONr.colorLink-Ttelix .spinnerItem-2VtahD {
    background-color: #00b0f4
}

.theme-dark .lookFilled-luDKDo.hoverLink-2f-frX.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverLink-2f-frX.hasHover-FPgGm-:hover {
    background-color: #00b0f4;
    color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverLink-2f-frX.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverLink-2f-frX.hasHover-FPgGm-:active {
    background-color: #009edc;
    color: #fff
}

.theme-dark .lookInverted-2lPGe7.hoverLink-2f-frX.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverLink-2f-frX.hasHover-FPgGm-:hover {
    background-color: #f2fbfe;
    color: #00b0f4
}

.theme-dark .lookInverted-2lPGe7.hoverLink-2f-frX.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverLink-2f-frX.hasHover-FPgGm-:active {
    background-color: #cceffd;
    color: #00b0f4
}

.theme-dark .lookOutlined-1c5nhl.hoverLink-2f-frX.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverLink-2f-frX.hasHover-FPgGm-:hover {
    border-color: rgba(0,176,244,.6);
    color: #00b0f4
}

.theme-dark .lookOutlined-1c5nhl.hoverLink-2f-frX.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverLink-2f-frX.hasHover-FPgGm-:active {
    background-color: rgba(0,176,244,.1);
    border-color: #00b0f4;
    color: #00b0f4
}

.theme-dark .lookGhost-GyT-k0.hoverLink-2f-frX.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverLink-2f-frX.hasHover-FPgGm-:active {
    background-color: rgba(0,176,244,.15);
    color: #00b0f4
}

.theme-dark .lookLink-3VWONr.hoverLink-2f-frX.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverLink-2f-frX.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#00b0f4 0,#00b0f4 2px,transparent 0);
    color: #00b0f4
}

.lookFilled-luDKDo.colorWhite-1IbOTe {
    background-color: #fff;
    color: #4f545c
}

.lookFilled-luDKDo.colorWhite-1IbOTe:hover {
    background-color: #e6e6e6
}

.lookFilled-luDKDo.colorWhite-1IbOTe:active {
    background-color: #ccc
}

.lookFilled-luDKDo.colorWhite-1IbOTe .spinnerItem-2VtahD {
    background-color: #4f545c
}

.lookInverted-2lPGe7.colorWhite-1IbOTe {
    background-color: #4f545c;
    color: #fff
}

.lookInverted-2lPGe7.colorWhite-1IbOTe .spinnerItem-2VtahD,.lookInverted-2lPGe7.colorWhite-1IbOTe:active,.lookInverted-2lPGe7.colorWhite-1IbOTe:hover {
    background-color: #fff
}

.lookOutlined-1c5nhl.colorWhite-1IbOTe {
    border-color: hsla(0,0%,100%,.3);
    color: #fff
}

.lookOutlined-1c5nhl.colorWhite-1IbOTe:hover {
    border-color: hsla(0,0%,100%,.6)
}

.lookOutlined-1c5nhl.colorWhite-1IbOTe:active {
    background-color: hsla(0,0%,100%,.1);
    border-color: #fff
}

.lookOutlined-1c5nhl.colorWhite-1IbOTe .spinnerItem-2VtahD {
    background-color: #fff
}

.lookGhost-GyT-k0.colorWhite-1IbOTe {
    background-color: hsla(0,0%,100%,.1);
    color: #fff
}

.lookGhost-GyT-k0.colorWhite-1IbOTe:active {
    background-color: hsla(0,0%,100%,.15)
}

.lookGhost-GyT-k0.colorWhite-1IbOTe .spinnerItem-2VtahD {
    background-color: #fff
}

.lookLink-3VWONr.colorWhite-1IbOTe {
    color: #fff
}

.lookLink-3VWONr.colorWhite-1IbOTe:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#fff 0,#fff 2px,transparent 0)
}

.lookLink-3VWONr.colorWhite-1IbOTe .spinnerItem-2VtahD {
    background-color: #fff
}

.theme-dark .lookFilled-luDKDo.hoverWhite-2K9fsu.hasHover-FPgGm-:hover,.theme-light .lookFilled-luDKDo.hoverWhite-2K9fsu.hasHover-FPgGm-:hover {
    background-color: #fff;
    color: #4f545c
}

.theme-dark .lookFilled-luDKDo.hoverWhite-2K9fsu.hasHover-FPgGm-:active,.theme-light .lookFilled-luDKDo.hoverWhite-2K9fsu.hasHover-FPgGm-:active {
    background-color: #e6e6e6;
    color: #4f545c
}

.theme-dark .lookInverted-2lPGe7.hoverWhite-2K9fsu.hasHover-FPgGm-:active,.theme-dark .lookInverted-2lPGe7.hoverWhite-2K9fsu.hasHover-FPgGm-:hover,.theme-light .lookInverted-2lPGe7.hoverWhite-2K9fsu.hasHover-FPgGm-:active,.theme-light .lookInverted-2lPGe7.hoverWhite-2K9fsu.hasHover-FPgGm-:hover {
    background-color: #fff;
    color: #fff
}

.theme-dark .lookOutlined-1c5nhl.hoverWhite-2K9fsu.hasHover-FPgGm-:hover,.theme-light .lookOutlined-1c5nhl.hoverWhite-2K9fsu.hasHover-FPgGm-:hover {
    border-color: hsla(0,0%,100%,.6);
    color: #fff
}

.theme-dark .lookOutlined-1c5nhl.hoverWhite-2K9fsu.hasHover-FPgGm-:active,.theme-light .lookOutlined-1c5nhl.hoverWhite-2K9fsu.hasHover-FPgGm-:active {
    background-color: hsla(0,0%,100%,.1);
    border-color: #fff;
    color: #fff
}

.theme-dark .lookGhost-GyT-k0.hoverWhite-2K9fsu.hasHover-FPgGm-:active,.theme-light .lookGhost-GyT-k0.hoverWhite-2K9fsu.hasHover-FPgGm-:active {
    background-color: hsla(0,0%,100%,.15);
    color: #fff
}

.theme-dark .lookLink-3VWONr.hoverWhite-2K9fsu.hasHover-FPgGm-:hover .contents-4L4hQM,.theme-light .lookLink-3VWONr.hoverWhite-2K9fsu.hasHover-FPgGm-:hover .contents-4L4hQM {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#fff 0,#fff 2px,transparent 0);
    color: #fff
}

.theme-dark .lookFilled-luDKDo.colorPrimary-2KuK5O {
    background-color: #4f545c;
    color: #f6f6f7
}

.theme-dark .lookFilled-luDKDo.colorPrimary-2KuK5O:active,.theme-dark .lookFilled-luDKDo.colorPrimary-2KuK5O:hover {
    background-color: #72767d
}

.theme-dark .lookFilled-luDKDo.colorPrimary-2KuK5O .spinnerItem-2VtahD {
    background-color: #f6f6f7
}

.theme-dark .lookInverted-2lPGe7.colorPrimary-2KuK5O {
    background-color: #f6f6f7;
    color: #4f545c
}

.theme-dark .lookInverted-2lPGe7.colorPrimary-2KuK5O:hover {
    background-color: #f6f6f7
}

.theme-dark .lookInverted-2lPGe7.colorPrimary-2KuK5O:active {
    background-color: #dcddde
}

.theme-dark .lookInverted-2lPGe7.colorPrimary-2KuK5O .spinnerItem-2VtahD {
    background-color: #4f545c
}

.theme-dark .lookOutlined-1c5nhl.colorPrimary-2KuK5O {
    border-color: hsla(0,0%,100%,.3);
    color: #fff
}

.theme-dark .lookOutlined-1c5nhl.colorPrimary-2KuK5O:hover {
    border-color: hsla(0,0%,100%,.6)
}

