/* Post, Wrapper */
.iKrkHP *:hover,
.iYUrIY *:hover{
	opacity: 1!important;
}

/* Post, Votes, Wrapper */
.bIKsmY {
	opacity: 0.4;
}
/* Post, Votes, Button */
.ihviix {
	opacity: 0.4;
}

/* Post, Info */
.hTUihA {
	margin: 0px 8px 8px;
	opacity: 0.2;
}
/* Post, Info, Classic */
.lctAbP {
	opacity: 0.2;
}

/* Post, Title */
.gLBuPH {
	font-size: 14px;
}
/* Post, Title, Type */
.JWGys {
	opacity: 0.4;
}
/* Post, Title, Type, Text */
.GOmmX {
	font-size: 10px;
}

/* Post, Footer */
.jcIpOm {
	opacity: 0.2;
}


/* Post, Embed, Link, Wrapper */;
.eGpfTa {
	margin-top: 2px;
	margin-bottom: -8px
	opacity: 0.8;
}
/* Post, Embed, Link, Wrapper, Classic */;
.hggMLv {
	opacity: 0.8;
}
/* Post, Embed, Link, Text */;
.kXLxBv {
	margin: 0;
	margin-left: 2px;
}
/* Post, Embed, Wrapper */;
.dPtgyU {
	margin-top: 8px;
}


/* Sidebar, Description */;
.bFgSnG {
	line-height: 18px;
	opacity: 0.8;
}


/* Sidebar, Footer */;
.zhbz5g-4.nMxeZ > * {
	opacity: 0.5;
	font-weight: 400;
}